.menu{
    background: #FFFFFF !important;
    width: 256px !important;
    overflow: auto;
}

.logo {
    height: 88px;
}

.logo > img{
    position: absolute;
    width: 197px;
    height: 59px;
    left: 24px;
    top: 14px;
}


.sidebar{
    position: absolute;
    width: 256px;
    left: 0px;
    top: 88px;
    height: 100% !important;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

li{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #334D6E;
    padding: 10px 0px;

}
li>*{
    color: #334D6E;
    padding-inline-start: 27px;
}
li>span{
    cursor:pointer;
}
li>a:hover{
    text-decoration:none;
}
li>*>img{
    margin-right: 13px;
    background: #ffffff;
    width: 24px;
}

ul{
    padding-inline-start: 0px;

}

.sub-menu>li{
    padding: 5px 0px;
    padding-inline-start: 30px;
}

li:before{
    width: 8px !important;
    height: 8px !important;
    box-sizing: border-box !important;
    box-shadow: none !important;
}

.active-menu, .active-menu>*>img{
    background: #E6F5FF;
}
.active-menu>a{
    color: #109CF1 !important;
}

.active-menu::after {
    content: ">";
    float: right;
    font-size: 25px;
    padding-right: 10px;
    color: #109CF1;
}

.menu{
    color: #334D6E;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
}

.navbar-nav , .nav-link{
    padding : 0px !important;
    display: block;
    height: 41px !important;
}


