@font-face {
  font-family: "Poppins";
  src: url(./font/Poppins-Medium.ttf);
}

*{
  font-family: Poppins;
  background: #fff;
}

#root, body{
  background: #e5e5e5 !important;
}

.container-fluid{
  padding: 0px;
}

.row{
  margin: 0px;
}


th, td{
  border-top: 0px !important;
  border-bottom: 1px solid #EBEFF2   !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main{  
  position: absolute;
  left: 256px;
  width: calc(100% - 256px);
  padding: 0px 20px;
  height: 100%;
  background: #E5E5E5 !important;
  overflow: auto;
  padding-bottom: 20px;
}

.login-text{
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.custom-button{
  background: #5B5353 !important;
  border-radius: 3.3px !important;
  box-shadow: none !important;
  border-color: #5B5353 !important;
  float: right;
  width: 100%;
}

.loading{
  fill: rgb(21, 127, 251) !important;
  width: 50px !important;
  margin: auto !important;
  margin-top: calc((var(--content-height) - 120px) / 2) !important;
}

.modal-button{
  background: #5B5353 !important;
  border-radius: 3.3px !important;
  box-shadow: none !important;
  border-color: #5B5353 !important;
  font-style: normal;
  font-weight: bold;
  font-size: 10.725px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: 100%;
  justify-content: center;
}


.modal-submit-button{
  background: #27AE60 !important;
}


.action-button{
  font-size: 14px;
  padding: 0px;
}

.action-button:focus{
  box-shadow: none !important;
}

.action-button:hover{
  text-decoration: none !important;
}

.dashboard-container{
  background: #FFFFFF;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06) !important;
  border-radius: 4px;
  margin-top:36px;
  padding-top:9px;
  height:174px;
}

.dashboard-header-row{
  height: 46px;
}

.dashboard-list{
  min-height: 100px;
  height: 100%;
  max-height: 600px;
}

.divider{
  background: #EBEFF2;
  transform: matrix(1, 0, 0, -1, 0, 0);
  height:2px;
  margin:0px !important;
  width: 100%;
}

.custom-dropdown {
  background-color: white !important;
  color:  rgba(0, 0, 0, 0.6) !important;
  border-color: white !important;
  text-decoration: underline !important;
  text-underline-position: under;
}

.form-group{
  margin-bottom: 10px !important; 
  padding: 0px 17px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-select, .form-input {
  border-width: 0 0 1px 0 !important;
  border-color: #000000 !important;
  border-radius: 0px !important;
}

.form-input, .custom-modal-select{
  border-color: rgba(0, 0, 0, 0.2) !important;
  line-height:18px !important;
}

.form-input:focus{
  box-shadow: none !important;
}

::placeholder, option:first-child {
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
letter-spacing: 0.01em;
color: rgba(47, 45, 46, 0.6) !important;
}

select:invalid,select>option[value=""] {
  font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
letter-spacing: 0.01em;
color: rgba(47, 45, 46, 0.6) !important;
}

.custom-modal{
width: 385px !important;
position: absolute !important;
left: 50% !important;
top: 50% !important;
transform: translate(-50%, -50%);
padding: 0px !important;
height: auto !important;
}
.modal{
overflow: auto !important;
max-height: 100% !important;
}

.modal-dialog{
  margin: 0px !important;
}

.modal-content{
  border: 0px !important;
}

.modal-header{
border:none !important;
}
.custom-modal-title{
font-weight: 500;
font-size: 16px;
text-align: center;
width: 100%;
justify-content: center;
}

.custom-modal-label{
font-weight: 500;
font-size: 12px;  
line-height:18px !important;
margin-bottom: 0px !important;
}

.custom-modal-input, .custom-modal-select, .custom-modal-select>option{
font-weight: 500;
font-size: 12px !important;  
margin-bottom: 0px !important;
padding: 0px !important;
height: 24px !important;
color: rgba(47, 45, 46, 0.6);
}

.profile-label{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 31px;
color: #2F2D2E;
}
.profile-text{
overflow-wrap: break-word;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 31px;
color: #707683;
}
.profile-row{
  line-height: 31px;
}
.profile-header-title{
  text-align: left;
  font-size: 16px;
  font-weight: 500;

}

.profile-header-button{
  font-size: 10.725px;
  font-weight: bold;
}

.header-select{
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 189% */

letter-spacing: 0.18932px;

color: rgba(0, 0, 0, 0.6);
}


.header-search-input{
    font-style: normal;
font-weight: normal;
font-size: 16px !important;
line-height: 30px;
letter-spacing: 0.18932px;
color: rgba(0, 0, 0, 0.8);
border-color: #000000 !important;
}
/* Teacher css */

.teacher-profile-header-button{
  background: #4452C8 !important;
}

.table{
width: 96%;
    margin-bottom: 1rem;
    color: #212529;
    margin: auto;
    margin-top: 10px;
}

.table-responsive{
  height: 475px;
}

.error-message{
  font-size: 12px;
  color:red;
  padding: 0px 15px;;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}